/*
Theme Name: Auto Delen
Description: Startpagina met subpagina's voor het delen van auto's' 
Version: 1.0
Author: Energie Eenheid & +joost. beeldadvies
Template: twentytwelve
*/

@charset "utf-8";

/* VO: uncomment following line to test theme inheritance
@import url("../twentytwelve/style.css");
 */
@import url("exo/stylesheet.css");
@import url("cabinsketch/stylesheet.css");

/*
Clean CSS 
    +joost. | ontwerp + illustratie
    Deze CSS is op basis van een CSS reset zodat de beginwaarden voor
    de meeste browsers overeenkomen. Deze reset is klaar voor HTML5
    
CSS Reset:
    HTML5 CSS Reset
        Based on Eric Meyer's CSS Reset and html5doctor.com HTML5 Reset
    Copyright (c) 2010 736 Computing Services Limited
    Released under the MIT license. http://736cs.com/mit-license.php?2010
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 24px;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { 
    display: block;
}

ol {
    list-style: decimal;
    margin-left: 28px;
}

ul {
    list-style: disc;
    margin-left: 28px;
}

ul ul {
    list-style: circle;
    margin-left: 28px;
}

blockquote, q {
    quotes: none;
    margin-left: 24px;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

mark {
    background: none;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;	
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input[type="submit"], input[type="button"], button {
    padding: 0 !important;
    margin: 0 !important;
}

input, select, a img {
    vertical-align: middle;
}

/* Klant CSS */
h1, h2, h3, h4, h5, h6 {
    color: #599f0b;
    font-size: 220%;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: 'ExoLight', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.cabinsketch {
    font-size: 110%;
    font-family: 'CabinSketchRegular';
}

.cabinsketch strong {
    font-family: 'CabinSketchBold';
    font-weight: normal;
}

a, a:active, a:link {
    color: #212121;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, li, #access a {
    font-size: 100%;
    color: #212121;
    font-family: 'ExoRegular', Arial, Verdana, sans-serif;
    font-weight: normal;
}

#access a {
    color: white;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4, h5, h6 {
    font-size: 120%;
}

body {
    background: #599f0b url('images/autodelen-achtergrond.png') no-repeat center top;
}

body.custom-background {
    background-color: #599f0b !important;
}

#autodelen-wrapper {
    width: 100%;
    background: url('images/autodelen-header.jpg') no-repeat center top;
    min-height: 300px;
}

#autodelen-canvas {
    width: 979px;
    position: relative;
    left: 50%;
    margin-left: -489px;
}

#autodelen-header {
    padding: 16px;
}

a.autodelen-site-title:hover {
    text-decoration: none;
}

a.autodelen-site-title:hover h1 {
    color: #212121;
}

#autodelen-quote {
    float: right;
    margin-right: 32px;
    background: url('images/autodelen-quote.png') no-repeat;
    width: 317px;
    height: 140px;
}

#autodelen-quote-text {
    padding: 24px 36px 14px 78px;
}

#autodelen-pagina {
    margin: 0px 0px 10px;
    width: 100%;
}

.autodelen-page {
    border: 2px solid #fff;
}

.autodelen-page .content{
    display: block;
    clear: both;
    background-image: url('images/autodelen-fade.png');
    margin-top: 1.2%;
    width: 97.6%;
    min-height: 400px;
    padding: 1.2%;
}

.autodelen-page .autodelen-title {
    padding: 12px 12px 0px 12px;
}

.autodelen-page h4 {
    text-decoration: underline;
    color: #212121;
    float: left;
    height: 60px;
}

.autodelen-page .autodelen-title img {
    float: right;
    width: 90px;
}

.tiles {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 4px;
}

.tiles .tile:first-child {
    margin-left: 0px;
}

.tile {
    float: left;
    margin: 0px 2px;
    border: 2px solid #ffffff;
    width: 319px;
    height: 246px;
    overflow: hidden;
}

.tile h1, .tile h2, .tile h3, .tile h4, .tile h5, .tile h6, .tile p, .tile a, .tile p a, .tile li, .tile li a {
    color: #212121;
}

.tile .tile-content {
    padding: 5px;
}

.tile a {
    text-decoration: none;
}

.tile a:hover {
    text-decoration: none;
}

.tile a h4 {
    float: left;
}

.een .tile a:hover > h4,
.twee .tile a:hover > h4,
.drie .tile a:hover > h4 {
    text-decoration: underline;
}

.een .tile a img,
.twee .tile a img,
.drie .tile a img {
    margin-left: 30px;
    width: 260px;
}

.een .tile a:hover > img,
.twee .tile a:hover > img,
.drie .tile a:hover > img {	
    float: right;
    width: 45px;
}

.een .tile a > .tilecontent,
.twee .tile a > .tilecontent,
.drie .tile a > .tilecontent {
    display: none;
}

.een .tile a:hover > .tilecontent,
.twee .tile a:hover > .tilecontent,
.drie .tile a:hover > .tilecontent {
    display: block;
    clear: both;
    background-image: url('images/autodelen-fade.png');
    margin-left: -5px;
    width: 309px;
    height: 194px;
    padding: 5px;
}

.een .keen {
    background-color: #fe9b1b;
}

.een .ktwee {
    background-color: #24a39c;
}

.een .kdrie {
    background-color: #81ea73;
}

.twee .keen {
    background-color: #24d19c;
}

.twee .ktwee {
    background-color: #58ae64;
}

.twee .kdrie {
    background-color: #247d9d;
}

.drie .keen {
    background-color: #39842f;
}

.drie .ktwee {
    background-color: #24d19c;
}

.drie .kdrie {
    background-color: #fe9b1b;
}

#autodelen-footer {
    background-color: #39842f;
    border-top: 1px solid #ffffff;
}

#autodelen-footer-tekst {
    width: 979px;
    position: relative;
    left: 50%;
    margin-left: -489px;
}

#autodelen-footer-tekst p {
    font-size: 40%;
}

.assistive-text, h3.menu-toggle {
    display: none;
}

.menu-hoofdmenu-container {
    list-style: none;
    margin: 0px;
}

ul#menu-hoofdmenu {
    margin-left: 8px;
}

#menu-hoofdmenu li {
    float: left;
    padding: 0px 8px 0px 8px;
    text-transform: uppercase;
    font-weight: bolder;
}

#site-navigation {
    text-align: center;
    height: 30px;
}
